<p>create-account works!</p>

<form [formGroup]="accountform" (ngSubmit)="submit()">
    <label for="">account_name</label>
    <input type="text" name="" id="" formControlName="account_name">
    <br>
    <label for="">available_balance</label>
    <input type="text" name="" id="" formControlName="available_balance">
    <br>
    <label for="">account_number</label>
    <input type="text" name="" id="" formControlName="account_number">
    <br>
    <label for="">city</label>
    <input type="text" name="" id="" formControlName="city">
    <br>
    <label for="">profie_picture</label>
    <input type="text" name="" id="" formControlName="profie_picture">
    <br>
    <label for="">ifsc_code</label>
    <input type="text" name="" id="" formControlName="ifsc_code">
    <br>
    <label for="">id</label>
    <input type="text" name="" id="" formControlName="id">
    <br>
    <input type="submit">

</form>