<p>rating works!</p>


<span class="circle" [ngStyle]="{'background-color': rating >= 1 ? 'yellow' : 'gray'}" (click)="updateRating(1)"></span>

<span class="circle" [ngStyle]="{'background-color': rating >= 2 ? 'yellow' : 'gray'}" (click)="updateRating(2)"></span>

<span class="circle" [ngStyle]="{'background-color': rating >= 3 ? 'yellow' : 'gray'}" (click)="updateRating(3)"></span>

<span class="circle" [ngStyle]="{'background-color': rating >= 4 ? 'yellow' : 'gray'}" (click)="updateRating(4)"></span>

<span class="circle" [ngStyle]="{'background-color': rating >= 5 ? 'yellow' : 'gray'}" (click)="updateRating(5)"></span>

<br>

<ng-content></ng-content>