<div class="parent">
    <div class="left">
        <div class="logo">My Website</div>
        <h1 routerLink="home">home</h1>
        <h1 routerLink="welcome">welcome</h1>
        <h1 routerLink="databinding">Data binding</h1>
        <h1 routerLink="directives">Directives</h1>
        <h1 routerLink="pipes">pipes</h1>
        <h1 routerLink="users">users</h1>
        <h1 routerLink="items">Items</h1>
        <h1 routerLink="vehicle">vehicle</h1>
        <h1 routerLink="cars">cars</h1>
        <h1 routerLink="account">account</h1>
        <h1 routerLink="flipkart">flipkart</h1>
        <h1 routerLink="mail">mail</h1>

        <button routerLink="/login">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
        
    </div>
</div>
